* {
  background-color: #FFFFFF;
  box-sizing: border-box;
  color: #222222;
  font-family: 'Roboto';
  font-size: 16px; }

/* Header Universal Description */
.header {
  position: -webkit-sticky; /* Safari */
  position: sticky; }

/* Footer Universal Description */
.footer {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 90%;
  position: absolute; }

/* Body Universal Description */
body {
  margin: 0; }

/* Portfolio Elements (L/C/R) */
.portfolio {
  overflow: hidden;
  position: relative;
  height: 100vh; }

.portfolio-page {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%; }

  .portfolio-page__third {
    position: absolute;
    top: 0;
    width: 33.3%;
    height: 100vh;
    transition: transform 1s; }
    .portfolio-page__third--left {
      left: 0;
      text-align:center;
      transform: translate3d(0, 100%, 0); }
    .portfolio-page__third--center {
      left: 33.3%;
      text-align:center;
      transform: translate3d(0, 100%, 0); }
    .portfolio-page__third--right {
      left: 66.6%;
      text-align:center;
      transform: translate3d(0, 100%, 0); }
    .portfolio-page.active .portfolio-page__third {
      transform: translate3d(0, 0, 0); }

  .portfolio-page__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: skewX(0deg);
    transition: transform 1s, opacity 1s;
    background-size: cover; }
    .portfolio-page__third--left .portfolio-page__content {
      padding-left: 0%;
      padding-right: 0%;
      transform-origin: 100% 0; }
    .portfolio-page__third--center .portfolio-page__content {
      padding-left: 0%;
      padding-right: 0%;
      transform-origin: 100% 0; }
    .portfolio-page__third--right .portfolio-page__content {
      padding-left: 0%;
      padding-right: 0%;
      transform-origin: 100% 0; }
    .portfolio-page.inactive .portfolio-page__content{
      opacity: 1;
      transform: skewX(0deg) scale(1); }
/* Single Static Elements */
#logo {
  background: none;
  border: 0;
  cursor: default;
  float: left;
  font-size: 12px;
  outline: 0;
  padding: 1%; }

#about {
  background: none;
  border: 0;
  cursor: default;
  float: right;
  font-size: 12px;
  outline: 0;
  padding: 1%; }

#scroll {
  background: none;
  border: 0;
  cursor: default;
  float: right;
  font-size: 12px;
  outline: 0;
  padding: 1%; }
